@import '../variable';
@import '../mixin';

.textbook-outline{
    color:$grey90;
    >.textbook-description{
        padding:24px;
        padding-top:19px;
        margin-bottom: 6px;
        >.level-description{
            color:$grey60;
            font-size:12px;
            margin-bottom:7px;
            
        }
        >.textbook-title{
            font-size:24px;
            font-weight: bold;
            margin-bottom:9px;
        }
        >.textbook-badges{
            display: flex;
            color:$grey60;
            >div{
                margin-right:4.4px;
                @include set-item-center();
                padding-right:8px;
                padding-left:8px;
                border: 1px solid $grey60;
                border-radius: 8px;
            }
        }
    }
    >.textbook-contents{

        .textbook-step-title{
            background-color: $grey10;
            padding:20px;
            padding-left:32px;
        }
        .textbook-step-container{
            display:flex;
            flex-direction: column;
            padding-top:15px;
            padding-bottom:15px;
            gap:8px;
            .textbook-step{
                padding-left:32px;
                width:fit-content;
                cursor:pointer;
                &.current{
                    color:$tb;
                    font-weight: bold;
                }
            }
        }
    }
}