@import '../mixin';
@import '../variable';

.toast-container {
    font-size: 14px;
    line-height: 18px;
    position: fixed;
    box-sizing: border-box;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
    z-index: 99999999;
    max-width: 460px;
    min-width: 320px;
    width: auto;
    opacity: 0.9;
    display: flex;
    flex-direction: column-reverse;

    .toast-notification {
        position: relative;
        border-radius: 8px;
        padding: 12px 12px 12px 16px;                       // 위아래 12px
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);       // type 3 shadow 1 (Modal, Popup)
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation: toastCreateEvent .5s ease;

        >img {
            cursor: pointer;
        }

        .message-container {
            display: flex;
            flex-direction: column;
            .toast-content {
                color: $white;
            }
        }
    }

    .basic {
        background-color: $grey90;
    }

    .success {
        background-color: $green;
    }

    .error {
        background-color: $red;
    }

    .info {
        background-color: $blue;
    }

    .warning {
        background-color: $yellow;
    }

    @keyframes toastCreateEvent {
        0%   { transform: translateY(-500%); }
        20%  { transform: translateY(0%); }
        50%  { transform: translateY(-40%); }
        80%  { transform: translateY(0%); }
        90%  { transform: translateY(-5%); }
        100% { transform: translateY(0%);}
    }
}