@import '../mixin';
@import '../variable';

.guide-dropdown-container {
    position: relative;
    height: fit-content;
    width: 200px;

    &.disabled {
        >.guide-dropdown {
            cursor: default;
            background-color: $grey30;
            color: $grey40;
        }
    }

    select {
        display: none;
    }

    >.guide-dropdown {
        padding: 6px 8px 6px 12px;
        cursor: pointer;
        border: 1px solid $grey40;
        border-radius: 4px;
        background-color: $white;
        color: $grey90;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        z-index: 5;
        width: 100%;

        >div {
            overflow: hidden;
            height: calc(1.3em);
        }

        >.arrow {
            font-size: 20px !important;
            width: 20px;
            height: 20px;
        }
    }

    >.dropdown-list {
        position: absolute;
        background-color: $white;
        top: calc(1.3em + 20px);
        left: 0;
        right: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        padding: 10px 12px;
        z-index: 10;
        overflow-x: hidden;
        overflow-y: auto;
        border-width: 1px;

        opacity: 0;
        visibility: hidden;
        transform-origin: 0 0;
        transition: opacity .2s ease, visibility .2s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);
        transform: scale(.8) translate(0, 0);

        >.dropdown-button {
            border: none;
            background-color: unset;
            display: flex;
            justify-content: flex-start;
            padding: 0 0 12px 0;
            // padding-bottom: 12px;
            transform: translate(6px, 0);
            transition: all .3s ease;
            &:hover {
                color: $tb40;
            }

            &:focus {
                outline: unset;
            }
        }

        >.dropdown-button:last-child {
            padding-bottom: 0;
        }

        >option {
            padding-bottom: 12px;
            transform: translate(6px, 0);
            transition: all .3s ease;
            &:hover {
                color: $tb40;
            }
        }

        >option:last-child {
            padding-bottom: 0;
        }

        &.open {
            cursor: pointer;
            border-style: solid;
            border-color: $grey40;
            border-radius: 4px;

            opacity: 1;
            visibility: visible;
            transform: scale(1) translate(0, 0);
            transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);
            display: flex;
            flex-direction: column;
        }

        @include scrollbar-small;
    }
}