.franchiseList{
    background-color: #67B8BF;
    border-color: #67B8BF;
    font-size: 50px;
    margin: 10px;
}

/* .header{
    font-size: 50px;
    text-align: center;    
} */

.subheader{
    font-size: 20px;
    color: #6c757d
}

.goBack{
    margin-bottom: 20px;
}

.goBack:hover{
    cursor: pointer;
}

.minusSquare{
    position: relative;
    right: 20px
}

.plusSquare{
    position: relative;
    right: 20px
}