body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
    --bg: #ffffff;
    --bg-accent: #57a1ff;
    --text-color: #252525;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

.dropdown {
    width: 250px;
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    /*overflow: hidden;*/
    transition: height var(--speed) ease;
}

.menu {
    width: 100%;
}

.menu-item {
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
    color: var(--text-color);
    text-decoration: none;
}

.menu-item .icon {
    margin-right: 0.5rem;
}

.menu-item .icon:hover {
    filter: none;
}

.menu-item:hover {
    background-color: #525357;
    color: white;
}