.edit-icon {
    color: #5b7dff;
    cursor: pointer;
}

.delete-icon {
    color: #1DB4B4;
    cursor: pointer;
}

.dolloar-icon {
    color: #5fc27e;
    cursor: pointer;
}

.preview-icon {
    color: #000;
    cursor: pointer;
}