.mobile-course-signup-container {
    display: flex;
    flex-direction: column;
}

.m-fixed-schedule-container {
    display:flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    /* scrollbar display none */
    /* -ms-overflow-style: none; */
    /* scrollbar-width: none; */
    /* scrollbar-width: none; */
}

.m-fixed-schedule-container::-webkit-scrollbar {
    /* display: none; */
    height: 5px;
}

.m-fixed-schedule-container::-webkit-scrollbar-track { background-color:#2c2c2c;border-radius: 10px; }
.m-fixed-schedule-container::-webkit-scrollbar-thumb { background: #414141; border-radius: 10px; }

/* .mobile-schedule-fixed-button {
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color: #EDEDED;
    flex: 0 0 auto;
    margin: 0 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    outline: unset;
} */
.mobile-schedule-fixed-button {
    position: relative;
    width:60px;
    height:60px;
    border-radius: 20%;
    background-color: #1db4b429;
    flex: 0 0 auto;
    margin: 5px 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1db4b4;
    border: 1px solid #1db4b4;
    outline: unset;
}

.mobile-schedule-fixed-button-container {
    position: relative;
    width: 70px;
    height: 70px;
}

.fixed-schedule-btn-clicked {
    background-color: #1db4b4 !important;
    /* color: #fefefe; */
    /* border: 1px solid #1db4b4; */
    /* border: 1px solid #1db4b4; */
}

.fixed-schedule-btn-clicked > * {
    color: #ededed !important;
}

.mobile-schedule-fixed-button > * {
    color: #1DB4B4;
}

.plus-icon {
    width: 34px;
    height: 32px;
    background-image: url('../root_img/CardComponent/plus-icon.svg');
    background-repeat: no-repeat;
    background-size: 34px 32px;
    align-self: center;
    cursor:pointer;
}

.mobile-day-button {
    width:42px;
    height:42px;
    border-radius: 50%;
    background-color: #ededed;
    /* background-color: #EDEDED; */
    /* border: 1px solid #1db4b4; */
    flex: 0 0 auto;
    margin: 0 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    outline: unset;
}

.mobile-day-button > * {
    color: #1db4b4;
}

.mobile-schedule-fixed-cancel {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 10;
}

.mobile-schedule-fixed-cancel-cross {
    width: 10px;
    height: 10px;
    margin: 5px 5px;
    background-image: url('../img/classroom/icon_close_topolar.svg');
    background-repeat: no-repeat;
    background-position: center;
    color: #1db4b4;
}