.teacher-report-manage-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* student SEarch Bar */
.student-search-container {
    max-width:250px;
    flex: 1 2 150px;
    padding-right: 30px;
}

.custom-search-bar {
    width: 100%;
    background-color: #1F1F1F;
    border: 3px solid #343434;
    /* color: #495057; */
    color: #ffffff;
    background-image: url('../root_img/SimpleIcons/Search_Icon.svg');
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position: 5px 10px;
    height: 40px;
    font-size: 20px;
}

.student-search-list-container {
    overflow-y: scroll;
    max-height: 600px;
    padding: 0px 15px;
}

.custom-search-bar:focus{
    outline: none;
}

.vowel-container {
    width: 100%;
    /* background-color: #000000; */
    color: white;
    padding-left: 10px;
}

.student-name-by-vowel {
    width: 100%;
    background-color: #2C2C2C;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
    box-shadow: 0 0 15px #00000066;
}

.student-name-by-vowel:hover {
    background-color: #111;
    color: #1db4b4;
}
.student-name-by-vowel:active {
    background-color: #1db4b4;
    color: white;
}

.report-manage-selected-student {
    background-color: #1DB4B4;
}

/* Student Report View */
.student-report-view {
    flex: 2 1 600px;
    overflow-y: scroll;
}

.setting-max-height{
    height: 1046px;
}

.report-not-selected-view {
    display: flex;
    max-height: 600px;
    background-color: #2C2C2C00;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    overflow: hidden;
    flex-direction: column;
}

.report-selected-view {
    display: flex;
    max-height: 800px;
    background-color: #2C2C2C00;
    color: white;
    padding: 10px;
    flex-direction: column;
}

.student-code-container {
    background-color: #2C2C2C;
    margin-bottom: 50px;
    width: 500px;
    margin: auto;
    /* height: 400px; */
}

/* others */
.flex-wrap{
    flex-wrap: wrap;
}

.report-preview-container {
    width: 213px;
    /* margin: 0 10px 10px 10px; */
    padding: 10px 10px 15px 10px;
    /* background-color: #2c2c2c; */
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
}

.report-preview-box:hover {
    background-color: #111;
}
.report-preview-container:hover {
    cursor: pointer;
}
.report-preview-box {
    box-shadow: 0 0 30px #00000066;
    background-color: #2c2c2c;
    border-radius: 10px;
    margin: 10px;
}
.report-preview-header {
    width: 213px;
    /* margin: 10px 10px 0 10px; */
    padding: 15px 15px 0 15px;
    /* background-color: #2c2c2c; */
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

.textbook-title-fullbox {
    width: 100%;
    height: 47px;
    border-radius: 10px;
    background-color: #1D74B4;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}