a:hover {
    text-decoration: none;
}

.brand_name_full {
    font-size: 8px;
    line-height: 1;
    letter-spacing: 2px;
    color: gold;
}

.brand_name_initial {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 10px;
    color: gold;
    text-shadow: 1px 1px gray;
}