$color37: #373737;
$color32: #323232;
$color35: #353535;
$color1F: #1F1F1F;
$color70: #707070;
$colorDE: #DEDEDE;
$color2B: #2B2B2B;
$colorFF: #FFFFFF;
$colorF6: #F6F6F6;
$color41: #414141;
$colorC9: #C9C9C9;
$color50: #505050;
$colorC3: #C3C3C3;
$colorEB: #EBEBEB;
$color2C: #2C2C2C;
$lighttopolar: #00B4B4;
$topolar: #1DB4B4;
$ligntgreen: #4D8181;
$topolar: #1DB4B4;
$orange: #EC8103;
// $red: #B42C2C;
$breakpoint-mobile: 799px;
$breakpoint-tablet: 800px;
$breakpoint-desktop: 1280px;
$breakpoint-large-desktop: 1920px;
$priceintro-banner: #F9C50D;
$curriculum-banner: #E8E7E8;
$price-banner: #C2F4E9;
$consulting-banner: #E5ECEC;
$userreview-banner: #F4F6F5;
$FAQ-banner: #466473;
$franchise-banner: #BFD2E3;
$servicecenter-banner: #FEE970;

// design guide colors
$tb: #00C1D4;
$tb05: #DFF6F9;
$tb10: #AFEAEF;
$tb20: #7BDCE6;
$tb30: #42CDDB;
$tb40: #00C1D4;
$tb50: #00B8CE;
$tb60: #00A8BB;
$tb70: #0093A1;
$tb80: #007F8A;
$tb90: #005C5F;
$grey05: #FAFAFA;
$grey10: #F5F5F5;
$grey20: #EEEEEE;
$grey30: #E0E0E0;
$grey40: #BDBDBD;
$grey50: #9E9E9E;
$grey60: #757575;
$grey70: #616161;
$grey80: #424242;
$grey90: #212121;
$white: #FFFFFF;
$black: #000000;
$red: #F44336;
$yellow: #FFB300;
$green: #4CAF50;
$blue: #2196F3;

$colors: (
    "tb": #00C1D4, 
    "tb05": #DFF6F9, 
    "tb10": #AFEAEF, 
    "tb20": #7BDCE6,
    "tb30": #42CDDB,
    "tb40": #00C1D4,
    "tb50": #00B8CE,
    "tb60": #00A8BB,
    "tb70": #0093A1,
    "tb80": #007F8A,
    "tb90": #005C5F,
    "grey05": #FAFAFA,
    "grey10": #F5F5F5,
    "grey20": #EEEEEE,
    "grey30": #E0E0E0,
    "grey40": #BDBDBD,
    "grey50": #9E9E9E,
    "grey60": #757575,
    "grey70": #616161,
    "grey80": #424242,
    "grey90": #212121,
    "white": #FFFFFF,
    "black": #000000,
    "red": #F44336,
    "yellow": #FFB300,
    "green": #4CAF50,
    "blue": #2196F3
);

$langColor : (
    "scratch": #F2961D,
    "python": #6548E5,
    "java": #2DCC5C,
    "cplus": #006CE8,
    "js": #E9C200,
    "JavaScript": #E9C200,
);

$levelColor: (
    "adv": #EE7700,
    "pio": #0F39DF,
    'mas': #5116C8,
);


// pre text
$community-pre: 'main-community-';
$mypage-pre: 'my-page-';