.tab-hook-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.tab-hook-menu > li {
    list-style: none;
    flex: 1 1 0;
}

.tab-hook-menu > li > button {
    width: 100%;
    background-color: rgb(33, 33, 33);
    text-decoration: none;
    border-top: 1px solid #FFFFFF33;
    border-left: 1px solid #FFFFFF33;
    border-right: 1px solid #FFFFFF33;
    border-bottom: 1px solid #1DB4B4;
    outline: none;
    color: #ACACAC;
    font-size: 20px;

    &.aliceblue{
        background-color: aliceblue;
    }
}

.tab-hook-menu > li > .active{
    border-bottom: none !important;
    border-top: 1px solid #1DB4B4;
    border-left: 1px solid #1Db4b4;
    border-right: 1px solid #1DB4B4;
    color: #1DB4B4;
}

.active-tab-item {
    border-bottom: 4px solid #1DB4B4 !important;
    color: #1DB4B4 !important;
}